@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --white: #FFF;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}



a {
  font-family: 'Nunito Sans', sans-serif;
}


